#experience-container{
    background: transparent linear-gradient(115deg, #1B1B1B 0%, #101010 100%) 0% 0% no-repeat padding-box;
    height: 100%;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    z-index: 10;
    padding: 0;
    margin: 0;
}
#experience-container h1{
    color: white;
    font-family: ApercuLight;
    font-weight: lighter;
    margin-block-end: 0;
}
.tile{
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid{
    display: flex;
    font-family: ApercuLight;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh 7vw;
}
.tile-title{
    color: rgba(255, 255, 255, 0.83);
    text-align: center;
    font-size: 1.5em;
    z-index: 15;
    background-color: #1C1C1C;
    padding: 10px 40px;
    box-shadow: 0px 4px 2px #FFFFFF29;
}
.tile-body{
    background-color: white;
    text-align: center;
    padding: 20px 32px;
    transform: scaleX(0.98);
    overflow: hidden;
    height: 175px;
    z-index: 10;
    margin-top: -3px;
    /* width: 83%; */
    font-size: 1.25em;
    border-radius: 0px 0px 40px 40px;
}
.card{
    width: 30%;
}
@media all and (max-width: 1000px) {
    #experience-container h1{
        font-size: 7em;
    }
    .card{
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
        padding: 0 0vw;
    }
    .grid{
        display: block;
    }
    .tile-title{
        font-size: 3em;
        line-height: 2;
        color: white;
    }
    .tile-body{
        font-size: 2.5em;
        line-height: 1.5;
        border-radius: 0px 0px 125px 125px;
        color: black;
        height: auto;
    }
    .tile{
        margin: 4vh 14vw;
        height: 32vh;
    }
    .grid .flickity-page-dots{
        left:0;
    }
    .grid .flickity-page-dots .dot.is-selected{
        background-color: white;
    }
    .grid .flickity-page-dots .dot{
        border-color: white;
    }
}